@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap');
html, body {
	font-family: 'Montserrat';
	overscroll-behavior: contain;
}
* {
	user-select: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-tap-highlight-color: transparent;
}
.wrapper {
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px;
	overscroll-behavior: contain;
}
.loot {
	display: flex;
	flex-direction: column;
	gap: 10px;
	font-size: 16px;
	font-weight: 500;
	font-family: monospace;
	position: fixed;
	left: 10px;
	top: 50%;
	transform: translate(0, -50%);
	&__item {
		display: flex;
		align-items: center;
		gap: 10px;
	}
	&__a {}
	&__b {}
	&__c {}
	&__d {}
}
.header {
	position: fixed;
	top: 10px;
	left: 50%;
	transform: translate(-50%, 0);
}
.nav {
	&__list {
		display: flex;
	}
	&__item {}
	&__link {
		display: inline-block;
		font-weight: 600;
		color: #222;
		padding: 8px 10px;
		transition: 250ms;
		&:hover {
			background: #eee;
		}
	}
}
.info {
	position: fixed;
	left: 10px;
	bottom: 35px;
	font-family: monospace;
	display: flex;
	flex-direction: column;
	gap: 8px;
	&__item {
		display: flex;
	}
	&__prop {
		width: 125px;
	}
	&__value {
		flex: 1 1 auto;
		text-align: center;
		font-weight: 700;
	}
}
.version {
	position: fixed;
	right: 10px;
	bottom: 10px;
	font-family: monospace;
}
@media (max-width: 768px) {
	.version {
		font-size: 12px;
		left: 5px;
		bottom: 5px;
	}
	.wrapper {
		padding: 10px;
	}
	.loot {
		flex-direction: row;
		top: 50px;
		left: 50%;
		transform: translate(-50%, 0);
		&__item {
			gap: 0px;
			flex-direction: column;
			img {
				width: 24px;
			}
		}
	}
	.nav {
		display: flex;
		&__list {
			gap: 10px;
		}
		&__link {
			font-size: 12px;
			background: #eee;
			border: 1px solid #d9d9d9;
		}
	}
	.enemy {
		&__level {
			margin: 0;
		}
		&__boss {
			font-size: 16px;
		}
		&__name {
			font-size: 20px;
			margin: 0 0 10px 0;
		}
		&__image {
			width: 180px;
			height: 180px;
		}
	}
	.health {
		margin: 0 0 15px 0;
		&__counter {
			font-size: 14px;
		}
	}
	.info {
		left: auto;
		bottom: 5px;
		right: 5px;
		gap: 0px;
		font-size: 12px;
		width: 120px;
	}
}